<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.starbucks.myStarbucks.myMenu.repository.FavoriteMapper">

    <resultMap id="Favorite" type="com.spring.starbucks.myStarbucks.myMenu.domain.Favorite">
        <result property="myFavoriteId" column="my_favorite_id" />
        <result property="typeId" column="type_id" />
        <result property="regDate" column="reg_date"/>
    </resultMap>

<insert id="save">
    INSERT INTO myfavorite
    (account, type, type_id)
    VALUES (#{account}, #{type}, #{typeId})
</insert>

    <select id="findOne" resultMap="Favorite">
        SELECT *
        FROM myfavorite
        WHERE account=#{account} AND type=#{type} AND type_id=#{typeId}
    </select>

    <select id="findAll" resultMap="Favorite">
        SELECT *
        FROM myfavorite
        <if test="type == 'account'">WHERE account = #{keyword}</if>
    </select>

    <update id="update">
        UPDATE myfavorite
        SET account=#{account}, type=#{type}, type_id=#{typeId}
        WHERE my_favorite_id = #{myFavoriteId}
    </update>

    <delete id="delete">
        DELETE FROM myfavorite
        WHERE my_favorite_id = #{id}
    </delete>
</mapper>