
.productWrap{
    letter-spacing: -0.5px;
    background: url("/images/coffee/bean/pFinder_bg.png");
}
.productWrap a:hover{
    text-decoration: underline;
}
.productWrap img{
    transition: 1s;
    cursor: pointer;
}
.productWrap img:hover{
    scale: 1.1;
}
.productWrap img:out-of-range{
    scale: 1;
}
.productHeader {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: url("/images/coffee/bean/bg-finder-top.png") -230px 0;
}
.productHeader .container-name{
    /*margin-top: 120px;*/
    padding-bottom: 20px;
    width: 100%;
    height: 98px;
    position: relative;
}
.productHeader .container-name h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
.productHeader .container-name p {
    font-size: 16px;
    color: #666;
    padding-top: 20px;
}
.productHeader .nav .nav-ul{
    float: right;
    position: absolute;
    right: 0;
    top: 60px;
}
.productHeader .nav .nav-ul li{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    vertical-align: middle;
}
.productHeader .nav .nav-ul li img {
    padding-top: 4px;
}
.productHeader .nav .nav-ul li > img{
    padding-top: 7px;
}
/* section middle */
.middle{
    background: #fff;
}
.mid_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}
.mid_inner .pic{
    float: left;
    width: 100%;
    max-width: 40%;
    overflow: hidden;
}
.mid_inner .pic a{
    width: inherit;
}
.mid_inner .pic a img{
    height: inherit;
    width: inherit;
}
.mid_inner .detail{
    float: left;
    width: 100%;
    max-width: 55%;
    margin-left: 5%;
}
.mid_inner .detail h2{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.mid_inner .detail p{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 40px;
    word-wrap: break-word;
}
.mid_inner .detail p:last-child{
    font-size: 14px;
    color: #666666;
}
.bottomWrap{
    background: url("/images/coffee/bean/bg-finder-top.png") -140px -30px;
}
.bot_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}
.bot_inner ul{
    width: 100%;
}
.bot_inner ul li {
    float: left;
    margin-left: 2%;
    margin-top: 5px;
    width: 100%;
    max-width: 23%;
}

.bot_inner ul li div{
    width: 100%;
    max-width: 270px;
    overflow: hidden;
}
.bot_inner ul li div img{
    width: inherit;
    height: inherit;
}
.bot_inner ul li p {
    font-size: 14px;
    color: #444;
    text-align: center;
    padding: 15px 0;
}