<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.starbucks.whatsNew.event.repository.EventMapper">

    <resultMap id="EventMap" type="com.spring.starbucks.whatsNew.event.domain.Event">
        <result property="eventId" column="event_id" />
        <result property="beginDate" column="begin_date" />
        <result property="endDate" column="end_date" />
        <result property="listImg" column="list_img" />
        <result property="searchWord" column="search_word" />
        <result property="regDate" column="reg_date" />
    </resultMap>

    <insert id="insert">
        INSERT INTO starbucks.board_event
        (kind, title, begin_date, end_date, list_img, content,attach,search_word)
        VALUES (#{kind},#{title},#{beginDate},#{endDate},#{listImg},#{content},#{attach}, #{searchWord});
    </insert>

    <select id="findOne" resultMap="EventMap">
        SELECT *
        FROM starbucks.board_event
        WHERE event_id =#{eventId}
    </select>

    <select id="findAll" resultMap="EventMap">
        SELECT *
        FROM starbucks.board_event
        <include refid="search" />
        ORDER BY reg_date DESC
    </select>

    <sql id="search">
        <if test="kind != 'ALL'">
            WHERE kind = #{kind}
        </if>
        <if test="type == 'search-all'">
            WHERE  title LIKE CONCAT('%', #{keyword}, '%') OR search_word LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'title'">WHERE  title LIKE CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <update id="update">
        UPDATE starbucks.board_event
        SET kind=#{kind}, title=#{title}, begin_date=#{beginDate}, end_date=#{endDate}, list_img=#{listImg}, content=#{content}, attach=#{attach},search_word=#{searchWord}
        WHERE event_id=#{eventId}
    </update>

    <delete id="delete">
        DELETE FROM starbucks.board_event
        WHERE event_id=#{eventId}
    </delete>
</mapper>