.bottom{
    background: #f4f4f2;
    padding: 40px 0 80px 0;
}
.bottom .container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.bottom .container > p{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-top: 40px;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}
.bottom .container .product-ul{
    width: 100%;
    position: relative;
}
.bottom .container .product-ul .product-li{
    width: 33%;
    position: relative;
    float: left;

}
.bottom .container .product-ul .product-li > a{
    float: left;
    width: 44.5%;
    margin-bottom: 7px;
    box-sizing: border-box;
    overflow: hidden;
}
.bottom .container .product-ul .product-li a img{
    width: 100%;
}
.bottom .container .product-ul .product-li a img:hover{
    scale: 1.1;
    transition: 0.5s;
}
.bottom .container .product-li div{
    width: 55.5%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
.bottom .container .product-li div .product-name {
    font-size: 14px;
    color: #222;
    font-weight: bold;
    margin-bottom: 10px;
}
.bottom .container .product-li div .product-descriptionSummary{
    font-size: 12px;
    margin-bottom: 10%;
    color: #666;
    line-height: 1.4;
}
.bottom .container .product-li div a {
    vertical-align: middle;
    padding-left: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #222;
    border-bottom: 1px dotted black;
}