/*상위부분 및 검색창   */
.main{
    width:100%;
    max-width:1100px;
    margin: 0 auto;
}
.top-section{
    margin-bottom: 20px;
}
.top-section h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
.top-section > h2 a{
    margin-left: 20px;
    padding-left: 10px;
    font-size: 14px;
}
.top-section h2 a span{
    vertical-align: text-bottom;
}
.top-section h2 a span.notice-add{
    vertical-align: text-top;
}
.nav {
    position: relative;
    padding-bottom: 20px;
}
ul.nav-ul{
    float: right;
}
.nav-ul li{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    vertical-align: middle;
}
.nav-ul li img {
    padding-top: 4px;
}
.nav-ul li:nth-child(2) img, .nav-ul li:nth-child(4) img{
    padding-top: 7px;
}

/*kind 셀렉트-----------------------------------------------------*/
.kind{
    padding: 20px 30px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 3px;
    margin-bottom: 40px;
}
.kind .select-kind{
    width: 100%;
    height: 100%;
    position: relative;
}
.select-kind div a{
    float: left;
    background: #f4f4f1;
    color: black;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 19%;
    min-width: fit-content;
    margin-right: 1%;
}
.select-kind div:last-child a{
    margin-right: 0;
}
.kind div a:hover{
    text-decoration-line:underline;
    cursor: pointer;
}
.kind div a.selected {
    background: #006633;
    color: #fff;
}

/*검색 -------------------------------------------------------------*/
.search{
    padding: 20px 30px;
    background-color: #f4f4f2;
    position: relative;
    border-radius: 3px;
    margin-bottom: 40px;
}
.search .search-keyword{
    width: 100%;
    height: 100%;
    position: relative;
}
.search .search-keyword div{
    float: right;
}
.search .search-keyword form input {
    width: 321px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-indent: 10px;
    color: #666;
    box-sizing: content-box;
}
.search .search-keyword .search-button{
    display: inline-block;
    width: 54px;
    height: 38px;
    line-height: 38px;
    background: #777;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-left: 10px;
}
.search .search-keyword div:last-child a{
    margin-right: 0;
}
.search .search-keyword div a:hover{
    text-decoration-line:underline;
    cursor: pointer;
}
.search .search-keyword div a.selected {
    background: #006633;
    color: #fff;
}
.search .search-keyword div a.selected {
    background: #006633;
    color: #fff;
}

/* 게시글 표 --------------------------------------*/
.middle-section table {
    width: 100%;
}
.middle-section table th{
    font-size: 14px;
    color: #222222;
    text-align: center;
    padding: 17px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
.middle-section table th:first-child{
    width: 4.5%;
}
.middle-section table th:nth-child(2){
    width: 24.5%;
}
.middle-section table th:nth-child(3){
    width: 13%;
}
.middle-section table th:nth-child(4){
    width: 46.5%;
}
.middle-section table th:nth-child(5){
    width: 9.5%;
}
.middle-section table td{
    font-size: 16px;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    padding: 17px 0;
    border-bottom: 1px solid #dddddd;
    max-height: 260px;
}
.middle-section table td.left{
    text-align: left;
    padding: 17px 0 17px 20px;
}
.middle-section table td img{
    max-width: 260px;
    max-height: 260px;
    margin: 0 auto;
}
/* 페이징 ----------------------------------------------------------*/
.bottom-section {
    margin-top: 50px;
    padding-bottom: 80px;
}
.bottom-section nav {
    height: 27px;
    margin-top: 50px;
    width: 100%;
}
.bottom-section nav ul {
    flex: 9;
    display: flex;
    justify-content: center;
}
.pagination-custom li {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;

    color: #555555;
    font-size: 12px;
    padding: 0 10px;
}
.pagination-custom li.active a{
    font-weight: bold;
    color: #006633 !important;
    text-decoration: underline;
}
.pagination-custom li:hover a {
    text-decoration: underline;
}
