/*상위부분 및 검색창   */
.main{
    position:relative;
    width:100%;
    max-width:1100px;
    margin: 0 auto;
}
.top-section{
    margin-bottom: 20px;
}
.top-section h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}
.nav {
    position: relative;
    padding-bottom: 20px;
}
ul.nav-ul{
    float: right;
}
.nav-ul li{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    vertical-align: middle;
}
.nav-ul li img {
    padding-top: 4px;
}
.nav-ul li:nth-child(2) img, .nav-ul li:nth-child(4) img{
    padding-top: 7px;
}

/* 게시글  */
.middle-section .title{
    position: relative;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 20px 140px 20px 20px;
    margin-bottom: 20px;
}
.middle-section .title input{
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    width: 80%;
}
.listImg {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
}
.listImg p {
    margin: 20px 0;
}
.listImg p input{
    width: 80%;
}
.kind{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}
.kind p, #kind{
    margin-right: 20px;
    display: inline-block;
}
.content {
    padding: 30px 10px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
}
.content textarea{
    width: 100%;
    height: fit-content;
    min-height: 300px;
    resize: none;
}
.attachList p .add{
    vertical-align: text-bottom;
    cursor: pointer;
}
.attachList p {
    margin: 20px 0;
}
.attachList input{
    display: inline-block;
    margin: 10px 0;
    width: 80%;
}
.attachList span{
    cursor: pointer;
}
/*버튼 ------------------------------------------*/
.button{
    position: relative;
    margin-bottom: 50px;
}
.pre-view,
.cancel,
.submit{
    float: right;
    width: 8%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}
.pre-view div,
.cancel div,
.submit div{
    display: block;
    font-size: 14px;
    border-radius: 3px;
    background-color: #666666;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.pre-view div:hover,
.cancel div:hover,
.submit div:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*    미리보기 팝업------------------------------------ */
.pre-view-section{
    display: none;
    z-index: 50;
    background-color: #fff;
    min-width: 500px;
    min-height: 500px;
    border: 2px solid black ;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.pre-view-section .preViewContent{
    position: relative;
    height: 80vh;
    overflow-y: auto;
}
.pre-view-section .preViewClose{
    position: absolute;
    bottom: 50px;
    right: -95px;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding: 5px;
    background-color: #006633;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}