<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.starbucks.menu.repository.MenuMapper">

    <resultMap id="MenuMap" type="com.spring.starbucks.menu.domain.Menu">
        <result property="nameKr" column="name_kr" />
        <result property="nameEn" column="name_en" />
        <result property="descriptionSummary" column="description_summary" />
        <result property="descriptionDetail" column="description_detail" />
        <result property="espressoKind" column="espresso_kind"/>
        <result property="regDate" column="reg_date" />
    </resultMap>

<!--    <insert id="insert">-->
<!--        INSERT INTO starbucks.tbl_menu-->
<!--        (writer, title, content, like_cnt, view_cnt, account)-->
<!--        VALUES (#{writer}, #{title}, #{content}, #{likeCnt}, #{viewCnt}, #{account}, #{writer})-->
<!--    </insert>-->
    <select id="findOne" resultMap="MenuMap">
        SELECT *
        FROM menu
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="MenuMap">
        SELECT *
        FROM menu
        <if test="type == 'search-all'">WHERE name_kr LIKE CONCAT('%', #{keyword}, '%') AND description_summary LIKE CONCAT('%', #{keyword}, '%')</if>
    </select>

    <select id="findAll2" resultMap="MenuMap">
        SELECT *
        FROM menu
        WHERE type = #{type} AND espresso_kind = #{espressoKind}
    </select>

    <insert id="save">
        INSERT INTO menu
        ( register, espresso_kind, price, image, name_kr, name_en, weight, kind, type, description_summary, description_detail, weight2,calorie1,calorie2,calorie3,calorie4,calorie5,calorie6)
        VALUES (#{register},#{espressoKind}, #{price}, #{image}, #{nameKr}, #{nameEn}, #{weight}, #{kind}, #{type}, #{descriptionSummary}, #{descriptionDetail}, #{weight2}, #{calorie1}, #{calorie2}, #{calorie3}, #{calorie4}, #{calorie5}, #{calorie6})
    </insert>

    <update id="update">
        UPDATE menu
        SET register=#{register}, espresso_kind=#{espressoKind}, price=#{price}, image=#{image}, name_kr=#{nameKr}, name_en=#{nameEn}, weight=#{weight}, kind=#{kind}, type=#{type}, description_summary=#{descriptionSummary}, description_detail=#{descriptionDetail}, weight2=#{weight2}, calorie1 = #{calorie1}, calorie2 = #{calorie2}, calorie3 = #{calorie3}, calorie4 = #{calorie4}, calorie5 = #{calorie5}, calorie6=#{calorie6}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM menu
        WHERE id=#{id}
    </delete>

</mapper>