.container-wrapper{
    margin-top: 120px;

}
.container{

    width:100%;
    max-width:1100px;
    margin: 0 auto;
}
.container-name{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 20px;
}
.container-name h2{
    font-size: 30px;
    font-weight: bold;
}
.title-home{
    display:flex;
}
.coffee-list{
    display:flex;
    flex-direction:column;
    padding-bottom:50px;
    padding-top: 80px;
}
.coffee-type{
    display:flex;
    background-color:#f4f4f2;
    align-items:center;
    width:100%;
    max-width:1100px;
    font-weight:bold;
}
.coffee-type img{
    width:30px;
    height:30px;
    padding-right:15px;
}
.coffee-bean-wrapper{
    display:grid;
    height:fit-content;
    grid-template-columns:repeat(4,1fr);
}
.coffee_bean{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 15px;
}
.coffee_bean a{
    width: 260px;
    height: 245px;
    vertical-align: baseline;
    overflow: hidden;
    margin-bottom: 15px;
}
.coffee_bean a img{
    width: 260px;
    height: 271px;
    object-fit: contain;
    transition: all 0.5s linear;
}
.coffee_bean a img:hover{
    transform:scale(1.1)
}
.coffee_bean_name{
    font-size: 14px;
}

section{
    z-index:-66;
}
header{
    z-index:99;
}
