/*AWARDS*/
.awards {
    background-color: #272727;
}
.awards .inner {
    width: 100%;
    max-width: 1100px;
    padding: 40px 0;
}
.awards .swiper-container {
    width: 100%;
    height: 40px;
}
.awards .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    max-width: 192px;
    min-width: 145px;
}
.awards .swiper-prev,
.awards .swiper-next {
    width: 100%;
    max-width: 42px;
    height: 100%;
    max-height: 42px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: .3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.awards .swiper-prev {
    left: -100px;
}
.awards .swiper-next {
    right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
    background-color: #fff;
    color: #333;
}


/*INNER*/
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/*BUTTON*/
footer .fbtn {
    width: 100%;
    max-width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
footer .fbtn:hover {
    background-color: #333;
    color: #FFF;
}
footer .fbtn.btn--white {
    color: #FFF;
    border-color: #FFF;
}
footer .fbtn.btn--white:hover {
    color: #333;
    background-color: #FFF;
}




/*FOOTER*/
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    width: 100%;
    max-width: 1100px;
    padding: 40px 0 60px 0;
}
footer .menu {
    display: flex;
    justify-content: center;
}
footer .menu li {
    width: 100%;
    max-width: fit-content;
    position: relative;
}
footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before {
    display: none;
}
footer .menu li a {
    display: block;
    color: #CCC;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
}
footer .menu li a.green {
    color: #669900;
}
footer .fbtn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .fbtn-group .fbtn {
    font-size: 12px;
    margin-right: 10px;
}
footer .fbtn-group .fbtn:last-child {
    margin-right: 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo {
    margin: 30px auto 0;
}


/*SCROLL TO TOP*/
#to-top {
    position: fixed;
    bottom: 30px;
    right: -100px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;

    justify-content: center;
    align-items: center;
}