
                    #map {
                        width: 100%;
                        height: 100vh;
                        position: relative;
                        overflow: hidden;

                    }



                    .map_wrap,
                    .map_wrap * {

                        /* width: 20%;
    height: 70vh; */
                        margin: 0;
                        padding: 0;
                        font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
                        font-size: 12px;
                    }

                    /* .map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
} */

                    .map_wrap {
                        position: relative;
                        width: 100%;
                    }

                    .map_wrap div.map_marker_pop{

                        padding: 0;

                        z-index:1;

                        border: none;
                        border-radius: 3px;
                        width: 294px;
                        

                        
                    }

                    .map_wrap div.map_marker_pop header{

                        float:left;
                        display:block;
                        position: relative;

                        background: #8c8279;
                        color: #fff;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 20px;
                        padding: 10px 0;
                        text-indent: 20px;

                        font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;


                    }

                    .map_wrap div.map_marker_pop div.close {
                        display:inline-block;
                        *display:inline;
                        
                        line-height: 11px;
                        text-align: center;

                        
                        
                        
                        
                        


                    
                    }
                    .map_wrap div.map_marker_pop div.close:after {
                        position: absolute;
                        top : 6%;
                        right : 3%;

                        

                        display: inline-block;
                        background: #fff;
                        

                        border: 1px solid #000;

                        width: 16px;
                        height: 16px;
                        z-index: 100;

                        content: "\00d7"; 
                        font-size: 12pt;
                        font-weight: 700;

                        cursor: pointer;

                    
                    }  

                    .map_wrap div.map_marker_pop .map_marker_pop_inner{


                        height: 143px;
                        margin: 0 auto;
                        width: 254px;
         

                    }
                    
                    .map_wrap div.map_marker_pop .map_marker_pop_inner .cont_wrap{

                        height: 103px;
                        position: relative;
                        width: 254px;
                        
                    } 

                    
                    .map_wrap div.map_marker_pop .map_marker_pop_inner .cont_wrap p{
                        
                        color: #666;
                        float: left;
                        font-size: 12px;
                        min-height: 14px;
                        line-height: 14px;
                        margin-top: 10px;
                        padding-left: 17px;
                        width: 237px;
                        
                    }
                    
                    .map_wrap div.map_marker_pop .map_marker_pop_inner .cont_wrap p.road_addr{

                        margin-top: 20px;

                        background: url("/images/icon/icon_addr.png") 0 0 no-repeat;

                    }
                    .map_wrap div.map_marker_pop .map_marker_pop_inner .cont_wrap p.tel{

                        background: url("/images/icon/icon_tel.png") 0 0 no-repeat;

                    }


                    .map_wrap div.map_marker_pop .map_marker_pop_inner .cont_wrap a{

                        background: #222;
                        border-radius: 3px;
                        bottom: -20px;
                        color: #fff;
                        display: block;
                        font-size: 12px;
                        font-weight: bold;
                        height: 30px;
                        left: 50%;
                        line-height: 30px;
                        margin-left: -45px;
                        
                        
                        position: absolute;
                        text-align: center;
                        width: 90px;


                        
                    }



  

                    

                    #menu_wrap {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 300px;
                        margin: 10px 0 30px 10px;
                        padding: 0px;

                        overflow: hidden;

                        min-height: 800px;

                        border-radius: 3px;


                        background: rgba(255, 255, 255);
                        z-index: 1;
                        font-size: 12px;
                    }

                    

                    .find_store_wrap {}

                    .find_store_wrap .find_store_cont {}





                    .bg_white {
                        background: #fff;
                    }

                    #menu_wrap .find_store_header {

                        margin-top: 0;
                        background: #006633;
                        width: 50%;
                        height: 58px;

                        text-align: center;
                        border: 0;



                    }

                    #menu_wrap .find_store_header * {
                        color: #fff;
                        line-height: 58px;
                        margin: 0;
                        font-size: 16pt;
                        font-weight: 700;



                    }




                    #menu_wrap .search_count {
                        background: #f4f4f2;
                        display: block;

                        color: #444;
                        font-size: 14px;
                        line-height: inherit;
                        text-indent: 10px;

                        margin-top: 5px;



                        height: 22px;
                        width: 100%;



                    }

                    #menu_wrap .search {
                        width: 300px;
                        /*height: 70vh;*/



                    }

                    #menu_wrap .search .quick_search {

                        position: relative;
                        background: #006633;


                        text-align: center;
                        line-height: 50px;


                        box-sizing: border-box;
                        /* padding: 10px; */

                        height: 60px;

                    }

                    #menu_wrap .search .quick_search_inner {

                        height: 70%;
                        width: 93%;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        border: 0px solid #000;
                        border-radius: 4px;

                        background: #fff;


                    }


                    #menu_wrap .search .quick_search_inner input {

                        position: relative;

                        border: 0px solid #000;
                        border-radius: 4px;

                        width: 95%;
                        height: 80%;



                    }

                    #menu_wrap .search .quick_search_inner a i {

                        position: absolute;

                        right: 3%;


                        line-height: 40px;


                        color: #000000;



                        font-size: 20px;



                        font-weight: 700;
                    }


                    #menu_wrap .search article {
                        height: 80%;

                    }

                    #placesList {
                        overflow-y: auto;
                        height: 100%;

                        padding: 0 10px;


                    }

                    #placesList li {
                        list-style: none;

                    }

                    #placesList .item {
                        position: relative;
                        border-bottom: 1px solid #ddd;
                        overflow: hidden;
                        height: 100px;
                    }

                    #placesList .item p {
                        font-size: 12px;
                        color: #666;

                    }

                    #placesList .item h5 {

                        font-size: 14px;
                        font-weight: 700;

                        margin: 10px 0 10px;


                    }

                    #placesList .item .info {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                    }

                    #placesList .item .info {}

                    #placesList .info .gray {
                        color: #8a8a8a;
                    }

                    #placesList .info .jibun {
                        padding-left: 26px;
                        background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
                        display: none;
                    }

                    #placesList .info .road {}

                    #placesList .info .tel {}

                    #placesList .item .markerbg {
                        display: block;

                        position: absolute;
                        right: 4%;
                        top: 50%;
                        width: 38px;
                        height: 60px;
                        transform: translate(-50%, -50%);
                        background: url(/images/icon/marker.png) center;

                    }

                    /* #placesList .item .marker {
    background-position: 0 -10px;
} */

                    #pagination {
                        margin: 10px auto;
                        text-align: center;
                    }

                    #pagination a {
                        display: inline-block;
                        margin-right: 10px;
                    }

                    #pagination .on {
                        font-weight: bold;
                        cursor: default;
                        color: #777;
                    }